@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,700;1,700&family=Poppins:wght@400;700&display=swap");
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
}
body {
  background: hsl(216, 12%, 8%);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: hsl(217, 12%, 63%);
}
